TripleArithmetic/TripleArithmetic/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TripleOfInt" />
  <xs:element name="MethodThreeIntClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TripleOfInt" minOccurs="0" name="objectOne" nillable="true" type="q1:ThreeIntClass" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TripleOfInt" minOccurs="0" name="objectTwo" nillable="true" type="q2:ThreeIntClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MethodThreeIntClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TripleOfInt" minOccurs="0" name="MethodThreeIntClassResult" nillable="true" type="q3:ThreeIntClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTriple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="one" type="xs:int" />
        <xs:element minOccurs="0" name="two" type="xs:int" />
        <xs:element minOccurs="0" name="three" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTripleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TripleOfInt" minOccurs="0" name="NewTripleResult" nillable="true" type="q4:ThreeIntClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>