TripleArithmetic/TripleArithmetic/Service References/ServiceReference1/TripleOfInt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TripleOfInt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TripleOfInt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ThreeIntClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberOne" type="xs:int" />
      <xs:element minOccurs="0" name="NumberThree" type="xs:int" />
      <xs:element minOccurs="0" name="NumberTwo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThreeIntClass" nillable="true" type="tns:ThreeIntClass" />
</xs:schema>